# Maven build output
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Build directories
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE settings
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Logs
*.log

# Environment & config files (important!)
*.env
application.properties
application.yml

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
